In [28]:
import pandas as pd 
import numpy as np
import selenium
from selenium import webdriver
import time
from bs4 import BeautifulSoup
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

Question 1

In [321]:
driver = webdriver.Chrome(r'C:/Users/batman/Desktop/WebDriver32/chromedriver.exe')

In [342]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [26]:
#rank
ran = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr[1]//td[1]")
for a in ran:
    print(a.text)

1.
"Baby Shark Dance"[28]
2.
"Despacito"[30]
3.
"See You Again"[32]
4.
"Gangnam Style"⁂[38]
5.
"Baby"*[91]
6.
"Bad Romance"[88]
7.
"Charlie Bit My Finger"[79]
8.
"Evolution of Dance"[72]
9.
"Girlfriend"‡[128][129]
10.
"Evolution of Dance"[72]
11.
"Music Is My Hot Hot Sex"‡[132]
12.
"Evolution of Dance"*[72]
13.
"Pokemon Theme Music Video"‡[137]
14.
"Myspace – The Movie"‡[141][142]
15.
"Phony Photo Booth"‡[144]
16.
"The Chronic of Narnia Rap"‡[146]
17.
"Ronaldinho: Touch of Gold"‡*[148]
18.
"I/O Brush"‡*[151]
19.
"Me at the zoo"[63]
20.
21.
22.
23.
24.
25.
26.
27.
28.
29.
30.

In [353]:
#name
nam = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]//a[1]")
for i in nam:
    if i is None:
        nam1=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]")
        for j in nam1:
            print(j.text)
    else:
        print(i.text)

Baby Shark Dance
[28]
Despacito
[30]
Shape of You
[31]
See You Again
[32]
Johny Johny Yes Papa
[35]
Masha and the Bear
[36]
Uptown Funk
[37]
Gangnam Style
[38]
[40]
[41]
[42]
Sorry
[43]
Sugar
[44]
Roar
[45]
Counting Stars
[46]
Thinking Out Loud
[47]
Dame Tu Cosita
[48]
Shake It Off
[49]
Faded
[50]
Lean On
[51]
Bailando
[52]
Dark Horse
[53]
Girls Like You
[54]
Let Her Go
[55]
Mi Gente
[56]
Hello
[57]
Perfect
[58]
Waka Waka (This Time for Africa)
[59]
Blank Space
[60]
Chantaje
[61]
Pinkfong
Luis Fonsi
Wiz Khalifa
Psy
Justin Bieber
Lady Gaga
Judson Laipply
RCA Records
Judson Laipply
Judson Laipply
Smosh
Nikesoccer
jawed

Not able to scrape data as I'm getting the data in not my desired way

Question 2

In [102]:
url = 'https://www.bcci.tv/'

In [109]:
def bcci_match(url):
    
    #getting the url opened
    driver.get(url)
    
    #creating empty lists to store required data
    dates = []
    timing = []
    match = []
    place = []
    teams = []
    
    #getting the webpage opened
    but = driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']")
    driver.get(but.get_attribute('href'))
    time.sleep(5)
    #for dates
    try:
        mon = driver.find_elements_by_xpath("//span[@class='fixture__month']")
        dat = driver.find_elements_by_xpath("//span[@class='fixture__date']")
        for i in range(len(mon)):
            dates.append(mon[i].text + ' ' + dat[i].text)
            
    except StaleElementReferenceException:
        WebDriverWait(driver,30).until(EC.presence_of_element_located((By.CLASS_NAME,'fixture__month')))
        driver.refresh()
        mon = driver.find_elements_by_xpath("//span[@class='fixture__month']")
        dat = driver.find_elements_by_xpath("//span[@class='fixture__date']")
        for i in range(len(mon)):
            dates.append(mon[i].text + ' ' + dat[i].text)
            
    #for time
    try:
        tim = driver.find_elements_by_xpath("//span[@class='fixture__time']")
        for i in tim:
            timing.append(i.text)
    except StaleElementReferenceException:
        WebDriverWait(driver,30).until(EC.presence_of_element_located((By.CLASS_NAME,'fixture__month')))
        driver.refresh()
        time.sleep(5)
        tim = driver.find_elements_by_xpath("//span[@class='fixture__time']")
        for i in tim:
            timing.append(i.text)
            
    #for teams 
    team_list = driver.find_elements_by_xpath("//p[@class='fixture__team-name']")
    t1 = team_list[::2]
    t2 = team_list[1::2]
    for i in range(len(t1)):
        teams.append(t1[i].text +' v '+ t2[i].text)
        
    #for place
    std = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span[1]")
    for i in std:
        place.append(i.text)
        
    #for match
    mat = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
    for i in mat:
        match.append(i.text)
        
    #creating the dataframe
    df_cricket = pd.DataFrame({})
    df_cricket['Dates'] = dates
    df_cricket['Teams'] = teams
    df_cricket['Place'] = place
    df_cricket['Time'] = timing
    df_cricket['Matches'] = match
    
    return df_cricket

In [108]:
bcci_match(url)

,Dates,Teams,Place,Time,Matches
0,FEBRUARY 13,INDIA v ENGLAND,"M. A. Chidambaram Stadium, Chennai",<module 'time' (built-in)>,2nd Test
1,FEBRUARY 24,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",<module 'time' (built-in)>,3rd Test
2,MARCH 04,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",<module 'time' (built-in)>,4th Test
3,MARCH 12,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",<module 'time' (built-in)>,1st T20I
4,MARCH 14,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",<module 'time' (built-in)>,2nd T20I
5,MARCH 16,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",<module 'time' (built-in)>,3rd T20I
6,MARCH 18,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",<module 'time' (built-in)>,4th T20I
7,MARCH 20,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",<module 'time' (built-in)>,5th T20I
8,MARCH 23,INDIA v ENGLAND,"Maharashtra Cricket Association Stadium, Pune",<module 'time' (built-in)>,1st ODI
9,MARCH 26,INDIA v ENGLAND,"Maharashtra Cricket Association Stadium, Pune",<module 'time' (built-in)>,2nd ODI
10,MARCH 28,INDIA v ENGLAND,"Maharashtra Cricket Association Stadium, Pune",<module 'time' (built-in)>,3rd ODI
11,AUGUST 04,ENGLAND v INDIA,"Trent Bridge, Nottingham",<module 'time' (built-in)>,1st Test
12,AUGUST 12,ENGLAND v INDIA,"Lord's, London",<module 'time' (built-in)>,2nd Test
13,AUGUST 25,ENGLAND v INDIA,"Headingley, Leeds",<module 'time' (built-in)>,3rd Test
14,SEPTEMBER 02,ENGLAND v INDIA,"The Oval, London",<module 'time' (built-in)>,4th Test
15,SEPTEMBER 10,ENGLAND v INDIA,"Old Trafford, Manchester",<module 'time' (built-in)>,5th Test

Question 3

In [134]:
urls = 'https://www.guru99.com/'

In [137]:
def sel_guru(url):
    
    #getting the website
    driver.get(url)
    
    #creating the lists
    nam_list = []
    desc_list = []
    
    #for getting the required webpage
    web1 = driver.find_element_by_xpath("//a[@title='Selenium']")
    driver.get(web1.get_attribute('href'))
    
    #for getting the second webpage
    web2 = driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
    driver.get(web2.get_attribute('href'))
    
    #for name
    nam = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr//td[1]")
    for i in nam:
        nam_list.append(i.text)
        
    #for description
    desc = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr//td[2]")
    for i in desc:
        desc_list.append(i.text)
        
    #creating the dataframe
    df_exp_hand = pd.DataFrame({})
    df_exp_hand['Exception Name'] = nam_list[1:]
    df_exp_hand['Description'] = desc_list[1:]
    
    return df_exp_hand

In [138]:
sel_guru(urls)

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Question 4

In [149]:
driver.get('http://statisticstimes.com/')

In [191]:
def stat_gdp(url):
    
    #getting the website started
    driver.get(url)
    
    #opening the required webpage
    clic = driver.find_element_by_xpath("//div[@class='dropdown-content']//a[3]")
    driver.get(clic.get_attribute('href'))
    
    #opening the second required webpage
    clic1 = driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
    driver.get(clic1.get_attribute('href'))
    
    #creating the empty lists
    rank1 = []
    rank2 = []
    name1 = []
    name2 = []
    gsdp20_1 = []
    gsdp19_1 = []
    gsdp20_2 = []
    gsdp19_2 = []
    share1 = []
    share2 = []
    gdp1 = []
    gdp2 = []
    
    #rank
    ran1 = driver.find_elements_by_xpath("//tr[@class='odd']//td[1]")
    ran2 = driver.find_elements_by_xpath("//tr[@class='even']//td[1]")
    for i in ran1:
        rank1.append(i.text)
    for i in ran2:
        rank2.append(i.text)
        
    #name
    nam1 = driver.find_elements_by_xpath("//tr[@class='odd']//td[2]")
    nam2 = driver.find_elements_by_xpath("//tr[@class='even']//td[2]")
    for i in nam1:
        name1.append(i.text)
    for i in nam2:
        name2.append(i.text)
        
    #GSDP 19-20
    gsdp1 = driver.find_elements_by_xpath("//tr[@class='odd']//td[3]")
    gsdp2 = driver.find_elements_by_xpath("//tr[@class='even']//td[3]")
    for i in gsdp1:
        gsdp20_1.append(i.text)
    for i in gsdp2:
        gsdp20_2.append(i.text)
        
    #GSDP 18-19
    gsdp3 = driver.find_elements_by_xpath("//tr[@class='odd']//td[4]")
    gsdp4 = driver.find_elements_by_xpath("//tr[@class='even']//td[4]")
    for i in gsdp3:
        gsdp19_1.append(i.text)
    for i in gsdp4:
        gsdp19_2.append(i.text)
        
    #share
    shar1 = driver.find_elements_by_xpath("//tr[@class='odd']//td[5]")
    shar2 = driver.find_elements_by_xpath("//tr[@class='even']//td[5]")
    for i in shar1:
        share1.append(i.text)
    for i in shar2:
        share2.append(i.text)
        
    #GDP
    gd1 = driver.find_elements_by_xpath("//tr[@class='odd']//td[6]")
    gd2 = driver.find_elements_by_xpath("//tr[@class='even']//td[6]")
    for i in gd1:
        gdp1.append(i.text)
    for i in gd2:
        gdp2.append(i.text)
        
    #creating the dataframe
    df_gdp1 = pd.DataFrame({})
    df_gdp2 = pd.DataFrame({})

    #For odd 
    df_gdp1['Rank'] = rank1
    df_gdp1['State'] = name1
    df_gdp1['GSDP 19-20'] = gsdp20_1
    df_gdp1['GSDP 18-19'] = gsdp19_1
    df_gdp1['Share'] = share1
    df_gdp1['GDP'] = gdp1

    #For even
    df_gdp2['Rank'] = rank2
    df_gdp2['State'] = name2
    df_gdp2['GSDP 19-20'] = gsdp20_2
    df_gdp2['GSDP 18-19'] = gsdp19_2
    df_gdp2['Share'] = share2
    df_gdp2['GDP'] = gdp2

    #For creating a single dataframe
    df_gdp = pd.concat([df_gdp1,df_gdp2])
    df_gdp.set_index('Rank')
    df_gdp.sort_index(axis=0,inplace=True)
    
    return df_gdp

In [192]:
url = 'http://statisticstimes.com/'
stat_gdp(url)

   Rank                      State GSDP 19-20 GSDP 18-19   Share      GDP
0     1                Maharashtra          -  2,632,792  13.88%  398.145
0     2              Uttar Pradesh  1,794,508  1,668,229   8.79%  252.278
1     3                 Tamil Nadu  1,845,853  1,630,208   8.59%  246.529
1     4                  Karnataka  1,699,115  1,544,399   8.14%  233.552
2     5                    Gujarat          -  1,502,899   7.92%  227.276
..  ...                        ...        ...        ...     ...      ...
30   27                  Meghalaya     32,833     29,544   0.18%   23,564
31   32                    Mizoram          -     17,506   0.10%        -
31   29                     Sikkim     28,391     25,141   0.15%   17,060
32   31          Arunachal Pradesh          -     22,488   0.13%        -
33   33  Andaman & Nicobar Islands          -          -       -        -

[66 rows x 6 columns]

Question 5

In [195]:
driver.get('https://github.com/')

In [228]:
def git_trend(url):
    
    #getting the website started
    driver.get(url)
    
    #using the search bar for further search
    search = driver.find_element_by_xpath("//label[@class='form-control input-sm header-search-wrapper p-0 js-chromeless-input-container header-search-wrapper-jump-to position-relative d-flex flex-justify-between flex-items-center']")
    search.send_keys('trending')
    search.send_keys(Keys.RETURN)
    time.sleep(5)
    
    #creating the empty lists
    name = []
    description = []
    contribute = []
    language = []
    
    #repository name
    nam = driver.find_elements_by_xpath("//div[@class='f4 text-normal']//a")
    for i in nam:
        name.append(i.text)
        
    #description
    desc = driver.find_elements_by_xpath("//p[@class='mb-1']")
    for i in desc:
        description.append(i.text)
        
    #contributors
    contri = driver.find_elements_by_xpath("//a[@class='muted-link']")
    for i in contri:
        contribute.append(i.text)
        
    #language used
    lang = driver.find_elements_by_xpath("//div[@class='d-flex flex-wrap text-small text-gray']//div[2]/span//span[2]")
    for i in lang:
        language.append(i.text)
        
    #creating the dataframe
    df_git = pd.DataFrame({})
    df_git['Repository Name'] = name
    df_git['Repository Description'] = description
    df_git['Contributors'] = contribute
    
    return df_git

In [229]:
url = 'https://github.com/'
git_trend(url)

,Repository Name,Repository Description,Contributors
0,iam-abbas/Reddit-Stock-Trends,Fetch currently trending stocks on Reddit,1.3k
1,mbadry1/Trending-Deep-Learning,Top 100 trending deep learning repositories so...,539
2,datawrangling/trendingtopics,Rails app for tracking trends in server logs -...,353
3,GeneralMills/pytrends,Pseudo API for Google Trends,2k
4,vitalets/github-trending-repos,Track GitHub trending repositories in your fav...,2.1k
5,d3/d3,"Bring data to life with SVG, Canvas and HTML. ...",95.7k
6,rnoelle/trendingTrivia,A project using angular to bring static HTML/C...,2
7,Nightonke/GithubWidget,"Contributions, stars, followers, trending etc....",698
8,huchenme/github-trending-api,The missing APIs for GitHub trending projects ...,609
9,ophobe/trending,Dataset of trending repositories on GitHub,56

Question 6

In [230]:
driver.get('https://www.billboard.com/')

In [242]:
def bill_list(url):
    
    #opening the website
    driver.get(url)

    #creating the empty lists
    song_title = []
    artist_name = []
    last_week = []
    peak = []
    weeks_on_board = []
    
    #getting to the required page
    nxt = driver.find_element_by_xpath("//a[@class='pill-button text--left shadow--soft']")
    nxt.click()

    #song title
    son = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for i in son:
        song_title.append(i.text)
        
    #artist name
    art = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for i in art:
        artist_name.append(i.text)
        
    #last week rank
    lw_rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in lw_rank:
        last_week.append(i.text)
        
    #Peak
    pea1 = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in pea1:
        peak.append(i.text)
        
    #weeks in charts
    wk_chart = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in wk_chart:
        weeks_on_board.append(i.text)
        
    #creating the dataframe
    df_bill = pd.DataFrame({})
    df_bill['Song Title'] = song_title
    df_bill['Artist Name'] = artist_name
    df_bill['Last Week Rank'] = last_week
    df_bill['Peak Rank'] = peak
    df_bill['No. of Weeks on Board'] = weeks_on_board

    return df_bill

In [243]:
url = 'https://www.billboard.com/'
bill_list(url)

,Song Title,Artist Name,Last Week Rank,Peak Rank,No. of Weeks on Board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,-,96,1
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,-,62,3
98,Almost Maybes,Jordan Davis,-,95,2
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

Question 7

In [245]:
keyword = 'Data Scientist'

In [268]:
def naukri_data(search_option):
    
    #getting the website
    driver.get('https://www.naukri.com/')
    
    #getting to the required webpage
    search = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
    search.send_keys(search_option)
    search.send_keys(Keys.RETURN)
    time.sleep(10)
    
    #creating empty lists
    name = []
    company = []
    designation = []
    location = []
    skill = []
    
    #name
    nam = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    for i in nam:
        name.append(i.text)
        
    #company
    comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    for i in comp:
        company.append(i.text)
        
    #location
    loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
    for i in loc:
        location.append(i.text)
        
    #designation
    desg = driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
    for i in desg:
        designation.append(i.text)
        
    #skill
    skil = driver.find_elements_by_xpath("//ul[@class='tags has-description']")
    for i in skil:
        skill.append(list(i.text))
        
    #creating the dataframe
    df_naukri = pd.DataFrame({})
    df_naukri['Name'] = name
    df_naukri['Company'] = company
    df_naukri['Location'] = location
    df_naukri['Designation'] = designation
    df_naukri['Skill'] = skill
    
    return df_naukri

In [269]:
keyword = 'Data Scientist'
naukri_data(keyword)

,Name,Company,Location,Designation,Skill
0,Architect/ Lead/ Senior/ Analyst - Data Scient...,ZETTAMINE LABS PRIVATE LIMITED,Hyderabad,Job Title: Architect/ Lead/ Senior/ AnalystJob...,"[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,"BS / MS/PhD in Computer Science, Statistics, A...","[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,"BS/ MS/ PhD in Computer Science, Statistics, A...","[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."
3,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,"Roles and ResponsibilitiesUnder guidance, or i...","[D, a, t, a, , S, c, i, e, n, c, e, \n, D, a,..."
4,Data Scientist - Machine Learning/Python,CarbyneTech India,Hyderabad,"You have at least 2 year experience, ideally w...","[P, r, e, d, i, c, t, i, v, e, , M, o, d, e, ..."
5,Data Scientist,Atos Syntel Private Limited,"Chennai, Pune, Mumbai, Bengaluru","Working experience in Artificial Intelligence,...","[I, T, , S, k, i, l, l, s, \n, J, a, v, a, \n..."
6,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru","BE or MS or PhD degree in Computer Science, Ar...","[I, T, , S, k, i, l, l, s, \n, J, a, v, a, \n..."
7,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru",Role Sr. Data ScientistExp. 12 – 20 yearsLocat...,"[I, T, , S, k, i, l, l, s, \n, J, a, v, a, \n..."
8,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad",Experience with application development practi...,"[I, T, , S, k, i, l, l, s, \n, J, a, v, a, \n..."
9,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Logical and Analytical skills must be really s...,"[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."
10,Data Analyst/Data Scientist,Suzlon Energy Limited,Pune,Required Skills: Expert level knowledge of Pyt...,"[B, i, g, , D, a, t, a, , A, n, a, l, y, t, ..."
11,Data Scientist and Senior Data Scientist Acade...,RANDSTAD INDIA PVT LTD,Bengaluru,Graduate with an exceptional academic track re...,"[T, a, b, l, e, a, u, \n, M, a, c, h, i, n, e,..."
12,Sr. Analyst-Data Scientist,Mindtree Limited,Bengaluru,Responsibilities : - Understanding the project...,"[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."
13,Sr . Data Scientist,NetApp,Bengaluru,A bachelor s degree in engineering or science ...,"[P, r, o, d, u, c, t, , m, a, n, a, g, e, m, ..."
14,DATA SCIENTIST / MACHINE LEARNING EXPERT,Spectrus,Bengaluru,"Good applied statistics skills, such as distri...","[I, T, , S, k, i, l, l, s, \n, T, e, s, t, i,..."
15,Associate Data Scientist | 0-2 Years | Gurgaon,Xtage Technologies Private Limited,"Delhi NCR, Gurgaon",Please note that the position is open for cand...,"[A, d, v, a, n, c, e, d, , A, n, a, l, y, t, ..."
16,Artificial Intelligence Analyst/Data Scientist,TalentCo Search Pvt Ltd,"Mumbai, Bengaluru",Should have at-least 1 end-to-end ML project e...,"[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."
17,Senior Data Scientist,Viaprom Technologies Pvt Ltd,Mumbai,Extensive experience in Machine learning algor...,"[R, \n, S, A, S, , S, Q, L, \n, S, A, S, \n, ..."
18,Tech Mahindra is hiring For Data Scientist- Ba...,tech mahindra ltd,Bengaluru,"Proficiency in cleaning, visualizing, analysin...","[P, r, e, d, i, c, t, i, v, e, , M, o, d, e, ..."
19,Sr. Data Scientist-Machine Learning,Lending Tree Research Services LLP,Ahmedabad(Makarba),Masters degree is a plusLooking for someone wi...,"[I, T, , S, k, i, l, l, s, \n, P, y, t, h, o,..."

Question 8

In [280]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

#creating empty lists
rank = []
book_title = []
author = []
vol_sales = []
publisher = []
genre = []

In [281]:
#rank 
ran = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[1]")
for i in ran:
    rank.append(i.text)

In [282]:
#book title 
b_title = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in b_title:
    book_title.append(i.text)

In [283]:
#author 
auth = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in auth:
    author.append(i.text)

In [284]:
#volume sales 
vol_sale = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in vol_sale:
    vol_sales.append(i.text)

In [285]:
#Publisher 
publish = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publish:
    publisher.append(i.text)

In [286]:
#Genre 
gen = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in gen:
    genre.append(i.text)

In [287]:
print(len(ran),len(b_title),len(auth),len(vol_sale),len(publish),len(gen))

100 100 100 100 100 100

In [288]:
#creating the dataframe
df_book = pd.DataFrame({})
df_book['Rank'] = rank
df_book['Book Title'] = book_title
df_book['Author'] = author
df_book['Volume Sales'] = vol_sales
df_book['Publisher'] = publisher

df_book

,Rank,Book Title,Author,Volume Sales,Publisher
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House
...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

Question 9

In [289]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [291]:
#creating empty lists
name = []
year = []
genre = []
run_time = []
ratings = []
votes = []

In [293]:
#name
nam = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in nam:
    name.append(i.text)

In [296]:
#year
yea = driver.find_elements_by_xpath("//h3[@class='lister-item-header']//span[2]")
for i in yea:
    year.append(i.text)

In [299]:
#genre
gen = driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[5]")
for i in gen:
    genre.append(i.text)

In [303]:
#run time
r_time = driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[3]")
for i in r_time:
    run_time.append(i.text)

In [311]:
#votes
vot = driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[2]")
for i in vot[1::2]:
    votes.append(i.text.strip())

In [313]:
#rating
rat = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]")
for i in rat:
    ratings.append(i.text.strip())

In [315]:
#creating the dataframe
df_imdb = pd.DataFrame({})
df_imdb['Name'] = name
df_imdb['Year'] = year
df_imdb['Genre'] = genre
df_imdb['Run Time'] = run_time
df_imdb['Ratings'] = ratings
df_imdb['Votes'] = votes

In [316]:
df_imdb

,Name,Year,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,769,703"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"822,005"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"853,261"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"256,161"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,412"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,586"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,862"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"161,174"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,091"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"182,321"

Question 10

In [355]:
driver.get('https://archive.ics.uci.edu/ml/index.php')

In [356]:
#getting to the required page
search=driver.find_elements_by_xpath("//span[@class='whitetext']/a")
sea = search[4]
sea.click()

In [357]:
#creating the empty list
data_name = []
data_type = []
task = []
attri = []
no_of_inst = []
no_of_attri = []
year = []

In [358]:
#name dataset
nam = driver.find_elements_by_xpath("//p[@class='normal']/b/a")
for i in nam:
    data_name.append(i.text)

In [359]:
#data type
d_type = driver.find_elements_by_xpath('/html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr[2]//td[2]//p')
for i in d_type:
    print(i.text)

Abalone
Multivariate